---
import Event from '@/components/event.astro'
import EventsPageLayout from '@/layouts/events-page.astro'
import events from '@/static/events.yaml'
---

<EventsPageLayout>
  <div class="events">
    {Object.entries(events).map(([id, event]) => (
      <Event
        id={id}
        title={event.title}
        tagline={event.tagline}
        description={event.description}
        date={event.date}
        image={`events/${event.image}`}
        location={event.location}
        number_of_spots={event.number_of_spots}
        ticket_price={event.ticket_price}
      />
    ))}
  </div>
</EventsPageLayout>

<style>
  .events {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0;
  }
</style>
